@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Styles
{
    <link rel="stylesheet" href="/monaco/min/vs/editor.main.css"/>
}

<div id="editor" style="height: 500px"></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/loader.js"></script>
    <script>
        require.config({
            paths: { "vs": "https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs" }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/editor/editor.main.nls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/editor/editor.main.js"></script>

    <script>
        window.onload = function () { 
            let monacoOptions = {
                language: "javascript",
                automaticLayout:true,
                // minimap: { editor : true },
                value: [
                    'function helloWorld() {',
                    '\tconsole.log("Hello, world!");',
                    '}'
                ].join('\n'),
            }

            window.monacoEditor = monaco.editor.create(document.getElementById("editor"), monacoOptions);
        }

    </script>

    <button id="submitCode">Submit Code</button>

    <script>
        document.getElementById('submitCode').addEventListener('click', function () {
            // Ensure monacoEditor is initialized before trying to get the value
            if (window.monacoEditor) {
                var code = window.monacoEditor.getValue(); // Fetch code from editor

                // Send code to server using AJAX
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RunCode", "Code")', // controller action
                    data: { code: code },
                    success: function (response) {
                        alert('Code submitted successfully');
                    },
                    error: function () {
                        alert('An error occurred while submitting the code');
                    }
                });
            } else {
                alert('Monaco Editor is not initialized yet');
            }
        });
    </script>

}